<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
      integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX"
      crossorigin="anonymous"
    />

    <title>ORTHODONTIC DISEASE</title>

    <style>
      * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
      }

      .border img {
        border-radius: 15px;
        border: 2px solid black;
      }
    </style>
  </head>

  <body background="{{url_for('static',filename = 'images/Back.jpg')}}">
    <div>
      <h1 style="text-align: center; font-size: 4rem">
        Predict Orthodontic Disease & Get Cure
      </h1>
    </div>

    <br />
    <br />

    <div class="container my-2">
      <div class="row mb-5">
        <div class="col-sm" style="margin-bottom: 23px">
          <span class="border border-primary">
            <img
              src="{{url_for('static',filename = 'images/Teeth-Overbite.webp' )}}"
              alt="User Image"
              style="width: 500px; height: 500px"
            />
          </span>
        </div>

        <div class="col-sm">
          <div>
            <h1
              style="
                padding: 15px;
                background-color: rgb(15, 15, 15);
                color: white;
              "
              class="text-center mb-5 content-h1 rounded"
            >
              {{pred_output}}
            </h1>
          </div>
          <div class="details">
            <h4><b> Treatment : </b></h4>
            <h3>Overbite - Medical Treatment</h3>
            <br />
            <h6>
              <strong>Overbite - </strong>Growth modification devices, or palate
              expanders, used during growth spurts to re-position the jaw.<br /><br />
              Braces to slowly move all the teeth into correct alignment.<br /><br />
              Removal of baby teeth or permanent teeth to make room for adult
              teeth.<br /><br />
              Retainers to keep the teeth in alignment after braces.<br /><br />
              <strong>In adults, treatment may involve:</strong><br /><br />
              Clear braces to move only the teeth affected by the overbite.<br /><br />
              Surgery to correct jaw alignment.<br /><br />
              Teeth removal to allow the remaining teeth more room.<br /><br />
            </h6>
            <br />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
